/* Global  */
html{
  box-sizing:border-box;
  font-family:var(--font);
  scroll-behavior: smooth;
}

* , ::before , ::after{
  box-sizing:inherit;
}

body{
  position:relative;
  background-color:var(--page-bg);
  overflow-x:hidden;
}

i{
  color:var(--main-color);
}

a{
  text-decoration:none;
}

img{
  width:200px;
}


/* start Header */
header{
  max-height:85px;
}
header .container{
  padding:1rem var(--padding);
  justify-content:space-between;
  align-items:center;
}

.logo, .logo>img{
  width:125px;
  display:block;
}

.menu{
  width:40px;
  display:flex;
  flex-flow:column wrap;
  align-items:flex-end;
}
.menu:hover .links{
  visibility:visible;
  box-shadow: -5px 0px 250px  rgb(0, 0, 0,0.35);
  transform:translateX(0%);
}


.icon{
  width:100%;
  cursor: pointer;
  display:flex;
  flex-flow:column wrap;
  justify-content:space-between;
  align-items:flex-end;
}
.icon>span{
  width:100%;
  height:5px;
  display: block;
  border-radius: 1rem;
  margin-bottom:0.35rem;
  background-color:var(--secondary-color);
  transition:width 0.25s ease-in-out;
}
.icon>span:nth-child(2){
  width:60%;
}
.icon>span:nth-child(3){
  width:80%;
}
.icon:hover>span:nth-child(2),
.icon:hover>span:nth-child(3){
  width:100%;
}


header .links{
  width:50vw;
  height:100vh;
  margin:0;
  padding:5rem 2.5rem;;
  visibility:hidden;
  background-color:var(--secondary-color);
  color:var(--gray-color);
  list-style-type:none;
  text-transform:capitalize;
  position: fixed;
  top:0;
  right:0;
  transform:translateX(100%);
  z-index: 1000;
  transition:all 0.75s;
}
/* for bigger screen devices */
@media all and (min-width:768px){
  body{
    overflow-x:hidden;
  }
  header .links{
    width:25vw;
  }
}

header .links p{
  text-align:right;
  font-size:1.2rem;
}
header .links p:last-child{
  font-size:1rem;
  position: absolute;
  bottom:2.5rem;
  right:2.5rem;
}


header ul{
  padding:0;
  margin-bottom:5rem;
}
header .links li{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  margin:0.75rem 0;
} 
.links li a{
  font-size:1.65rem;
  color:#ffffff;
  transition:all 0.35s;
}
.page-menu li a:hover{
  color:var(--main-color);
  transform: translateX(-5px);
}
.page-social .dribble:hover{
  color:#E94C88;
  transform: translateX(-5px);
}
.page-social .instagram:hover{
  color:#8a3ab9;
  transform: translateX(-5px);
}
.page-social .twitter:hover{
  color:#1DA1F2;
  transform: translateX(-5px);
}


/* start intro one */
.intro-one{
  width:100%;
  height:calc(100vh - 85px);
  position: relaitve;
  background: url(../assets/landing-pic.jpg) no-repeat scroll center;
  background-position:cover;
  display:flex;
  justify-content:center;
  align-items:flex-start;
}

.intro-text {
  margin-top:5rem;
  position:absolute;
  text-align:center;
}
.intro-text h1 {
  margin: 2rem 0;
  font-size: 5.25rem;
  color:var(--main-color);
}
@media all and (max-width:767px){
  .intro-text h1 {
    font-size: 4rem;
  }
}
.intro-text p{
  width:70%;
  line-height:var(--line-height);
  margin: 0 auto;
  font-size:1.35rem;
}

