/* reset  */
html{
  box-sizing:border-box;
  font-family:var(--font);
  scroll-behavior: smooth;
}

* , ::before , ::after{
  box-sizing:inherit;
}

body{
  background-color:var(--page-bg);
}

i{
  color:var(--main-color);
}