:root{
  /* colors  */
  --page-bg:#ffffff;
  --sections-bg:#fafafa;
  --main-color:#10cab7;
  --secondary-color:#2c4755;
  --third-color:#4d4c4c;
  --gray-color:#5c7281;
  --sections-heading-color:#f6f6f6;

}