/* Global  */
html{
  box-sizing:border-box;
  font-family:var(--font);
  scroll-behavior: smooth;
}

* , ::before , ::after{
  box-sizing:inherit;
}

body{
  position:relative;
  background-color:var(--page-bg);
  overflow-x:hidden;
}
h1 , h2 , h3 , h4{
  margin-top:0;
  font-weight:var(--bold);
  color:var(--black-color);
}
p{
  margin-top:0;
  font-weight:var(--reg);
  color:var(--black-color);
}
i{
  color:var(--main-color);
}

a{
  text-decoration:none;
}


/* start Header */
header{
  background-color:var(--page-bg);
  position:sticky;
  top:0;
  left:0;
  right:0;
  max-height:85px;
  box-shadow: 5px 5px 10px rgb(0, 0, 0,0.03);
  z-index:1000;
}
header .container{
  padding:1rem var(--padding);
  justify-content:space-between;
  align-items:center;
}

.logo{
  visibility: hidden;
  animation: fade-in-logo 1s 1.5s 1 forwards;
}
.logo, .logo>img{
  width:100px;
  display:block;
}

.menu{
  width:40px;
  display:flex;
  flex-flow:column wrap;
  align-items:flex-end;
}
.menu:hover .links{
  visibility:visible;
  box-shadow: -5px 0px 250px  rgb(0, 0, 0,0.38);
  transform:translateX(0%);
}


.icon{
  width:100%;
  cursor: pointer;
  display:flex;
  flex-flow:column wrap;
  justify-content:space-between;
  align-items:flex-end;
  visibility:hidden;
  animation:fade-in-menu-icon 1s 1.5s 1 forwards;
}
.icon>span{
  width:100%;
  height:3px;
  display: block;
  border-radius: 1rem;
  margin-bottom:0.35rem;
  background-color:var(--secondary-color);
  transition:width 0.25s ease-in-out;
}
.icon>span:nth-child(2){
  width:60%;
}
.icon>span:nth-child(3){
  width:80%;
}
.icon:hover>span:nth-child(2),
.icon:hover>span:nth-child(3){
  width:100%;
}


header .links{
  width:25vw;
  height:100vh;
  margin:0;
  padding:5rem 2.5rem;
  visibility:hidden;
  background-color:var(--secondary-color);
  color:var(--gray-color);
  list-style-type:none;
  text-transform:capitalize;
  position: fixed;
  top:0;
  right:0;
  transform:translateX(100%);
  z-index: 1000;
  transition:all 0.75s 0.15s;
}
/* for mobile & small screen devices */
@media all and (max-width:767px){
  header .links{
    width:50vw;
  }
}


header .links p{
  color:var(--gray-color);
  text-align:right;
  font-size:1.2rem;
}
header .links p:last-child{
  font-size:1rem;
  position: absolute;
  bottom:2.5rem;
  right:2.5rem;
}


header ul{
  padding:0;
  margin-bottom:5rem;
}
header .links li{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  margin:0.75rem 0;
} 
.links li a{
  font-size:1.65rem;
  color:#ffffff;
  transition:all 0.35s;
}
.page-menu li a:hover{
  color:var(--main-color);
  transform: translateX(-5px);
}
.page-social .dribble:hover{
  color:#E94C88;
  transform: translateX(-5px);
}
.page-social .instagram:hover{
  color:#8a3ab9;
  transform: translateX(-5px);
}
.page-social .twitter:hover{
  color:#1DA1F2;
  transform: translateX(-5px);
}



/* start intro  */
.intro{
  width:100%;
  height:calc(80vh - 85px);
  margin-bottom:var(--margin);
  position: relative;
  background: var(--sections-bg) url(../assets/project_two/page-bg-2.jpg) no-repeat scroll center;
  background-size:cover;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow: 5px 5px 10px rgb(0, 0, 0,0.1);
}

.layer{
  width:100%;
  height:100%;
  background-color:rgb(0, 0, 0,0.4);
  position:absolute;
  top:0;
  left:0;
}
.intro-text {
  padding:var(--padding) 6rem;
  background-color:var(--page-bg);
  box-shadow: 0 0 100px rgb(0, 0, 0,0.7);
  visibility:hidden;
  animation: intro-fade-in 0.85s 1s 1 forwards;
}
.intro-text h1 {
  margin: 0;
  font-size: 5.25rem;
  color:var(--main-color);
}

/* for mobile & small screen devices */
@media all and (max-width:767px){

  .intro-text h1 {
    font-size: 3rem;
  }
}

.intro-text p{
  text-align:left;
  color:var(--secondary-color);
  line-height:var(--line-height);
  margin: 0 auto;
  font-size:1.2rem;
}



/* start project */
.project{
  margin-bottom:var(--margin);
}
.project .project-info{
  line-height: var(--line-height);
}
.project .project-info hr{
  margin-left:0;
  width:50%;
  border-color: var(--main-color);
}

.project-details{
  max-width:400px;
  margin:0 var(--margin);
  padding:var(--padding);
  background-color:var(--page-bg);
  box-shadow: 5px 5px 10px rgb(0, 0, 0,0.1);
}
.project-details h4{
  margin:2.5rem 0 1rem 0;
}
.project-details p{
  margin:0;
}

/* for mobile & small screen devices */
@media all and (max-width:767px){
  .project .project-info,
  .project-details{
    text-align:center;
  }
  .project .project-info hr{
    width:100%;
  }
}


/* start project gallary */

.project-gallary img{
  width:100%;
}
.project-gallary{
  margin-bottom:var(--margin);
  display:grid;
  row-gap:5rem;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3 , minmax(500px , 1fr))
}

@media all and (max-width:767px){

  .top , .bottom{
    display:flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

 .main-project-bg>*,
 .top>*,
 .bottom>*{
   padding:var(--padding);
   line-height:var(--line-height);
 }

.main-project-bg{
  background:url(../assets/project_two/first-2.jpg) no-repeat scroll center;
  background-size:cover;
  width:100%;
  height:100%;
  grid-column:1/2;
  grid-row:1/2;
}

.top{
  width:100%;
  height:100%;
  grid-column:1/2;
  grid-row:2/3;
}
.top .top-image{
  background:url(../assets/project_two/second-2.jpg) no-repeat scroll center;
  background-size:cover;
  width:100%;
  height:100%;
}

.bottom{
  width:100%;
  height:100%;
  grid-column:1/2;
  grid-row:3/4;
}
.bottom-image{
  background:url(../assets/project_two/third-2.jpg) no-repeat scroll center;
  background-size:cover;
  width:100%;
  height:100%;
}



/* start contact */
.contact{
  padding-bottom:var(--margin);
  background-color:var(--sections-bg);
}

.section-heading{
  height:auto;
  justify-content:space-between;
  margin-bottom:var(--sections-heading-margin);
}
.section-heading h1{
  margin:0;
  color:var(--sections-heading-color);
  text-align:center;
  letter-spacing: -5px;
  font-size:10rem;
}
.section-heading p{
  margin:-3.5rem 0 0 0;
  font-size:1.5rem;
  text-align:center;
}

/* for mobile & small screen devices */
@media all and (max-width:767px){
  .section-heading h1{
    font-size:6rem;
  }
  .section-heading p{
    margin:-2.5rem 0 0 0;
  }
}


.contact-info{
  transform: translateX(-15%);
}
.contact-info h2{
  margin:0;
  font-size:3.5rem;
  color:var(--secondary-color);
}
.contact-info>a{
  margin:1rem 1rem 1rem -2rem;
  font-weight:var(--bold);
  font-size:3.5rem;
  color:var(--main-color);
}

.social-media>p{
  margin:1rem 1rem 1rem -2rem;
  font-size:1.3rem;
}


/* from small screen devices to large screen max width (1200px)*/
@media all and (max-width:1200px){
  .contact-info{
    transform: translateX(0);
  }
  .contact-info h2,
   .contact-info a{
    text-align:center;
    margin:1rem;
    font-size: 2rem;
   }
    .contact-info .social-media p,
    .contact-info .social-media{
    width:100%;
    margin:1rem;
    flex-wrap:wrap;
    text-align:center;
   }
   .contact-info .social-media a i{
     font-size:2rem;
   }
}


.social-media>a i{
  margin:0 1rem;
  color:var(--black-color);
  transition:all 0.35s;
}
.social-media .dribble>i:hover{
  color:#E94C88;
}
.social-media .instagram:hover>i{
  color:#8a3ab9;
}
.social-media .twitter>i:hover{
  color:#1DA1F2;
}



/* start footer */
footer{
  padding:var(--padding);
  background-color:var(--secondary-color);
  text-transform:capitalize;
}

footer p{
  margin-bottom: 0.5rem;
  font-size:1.25rem;
  color:#fff;
  text-align:center;
}
footer p:last-child>a{
  color:var(--main-color);
  text-decoration:underline;
}
